<h1>Comicbook Reviews</h1>

<% if @comicbook %>
  <h2>Reviews for <%= @reviews.comicbook.title%></h2>
<% else %>
  <h2>All Reviews</h2>
<% end %>

<% @reviews.each do |r| %>
<h3>Rating: <%= r.rating %></h3>
<h3>Review:<%= r.comment%></h3>
<h3>Reviewed by<%= r.user.username %></h3>
<% end %>

